.form-group{
  background-color: #f3f2f2;
  padding:10px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(25,28,31,.09), 0 4px 12px rgba(25,28,31,.06), 0 -1px 0 rgba(25,28,31,.04);
}

.btn{
  font-weight: 700;
  font-size: large;
}

.alert{
  color: red;
  margin-bottom: 0;
}
